<<<<<<< HEAD
$pxl-font-path:        '/src/iconfont/fonts' !default;
=======
$pxl-font-path:        '/iconfont/fonts' !default;
>>>>>>> b69bfd305c252fe89495297200fcbe16202ff6d3
$pxl-font-size-base:   14px !default;
$pxl-css-prefix:       pxl_icon !default;
$pxl-background-color: #eee !default;
$pxl-li-width:         (30em / 14) !default;
$pxl-padding-width:    (1em/3) !default;

$soc-css-prefix:       soc_icon !default;
