/*------------------------
	font icons
-------------------------*/

.pxl_icon.pxl_person:before {
  content: "\ea02";
}

.pxl_icon.pxl_time:before {
  content: "\ea03";
}

.pxl_icon.pxl_refresh:before {
  content: "\ea04";
}

.pxl_icon.pxl_cloud:before {
  content: "\ea05";
}

.pxl_icon.pxl_bookmark:before {
  content: "\ea06";
}

.pxl_icon.pxl_favourite:before {
  content: "\ea07";
}

.pxl_icon.pxl_settings:before {
  content: "\ea08";
}

.pxl_icon.pxl_preferences:before {
  content: "\ea09";
}

.pxl_icon.pxl_codepen:before {
  content: "\ea0a";
}

.pxl_icon.pxl_code:before {
  content: "\ea0b";
}

.pxl_icon.pxl_copyright:before {
  content: "\ea0c";
}

.pxl_icon.pxl_card:before {
  content: "\ea0d";
}

.pxl_icon.pxl_calendar:before {
  content: "\ea0e";
}

.pxl_icon.pxl_trash:before {
  content: "\ea0f";
}

.pxl_icon.pxl_print:before {
  content: "\ea10";
}

.pxl_icon.pxl_folder:before {
  content: "\ea11";
}

.pxl_icon.pxl_article:before {
  content: "\ea12";
}

.pxl_icon.pxl_money:before {
  content: "\ea13";
}

.pxl_icon.pxl_dollar:before {
  content: "\ea14";
}

.pxl_icon.pxl_bulb:before {
  content: "\ea15";
}

.pxl_icon.pxl_case:before {
  content: "\ea16";
}

.pxl_icon.pxl_board:before {
  content: "\ea17";
}

.pxl_icon.pxl_alert:before {
  content: "\ea18";
}

.pxl_icon.pxl_bug:before {
  content: "\ea19";
}

.pxl_icon.pxl_shuffle:before {
  content: "\ea1a";
}

.pxl_icon.pxl_note:before {
  content: "\ea1b";
}

.pxl_icon.pxl_album:before {
  content: "\ea1c";
}

.pxl_icon.pxl_headphone:before {
  content: "\ea1d";
}

.pxl_icon.pxl_disk:before {
  content: "\ea1e";
}

.pxl_icon.pxl_pause:before {
  content: "\ea1f";
}

.pxl_icon.pxl_play:before {
  content: "\ea20";
}

.pxl_icon.pxl_mute:before {
  content: "\ea22";
}

.pxl_icon.pxl_volume:before {
  content: "\ea23";
}

.pxl_icon.pxl_notification:before {
  content: "\ea24";
}

.pxl_icon.pxl_link:before {
  content: "\ea25";
}

.pxl_icon.pxl_export:before {
  content: "\ea26";
}

.pxl_icon.pxl_share:before {
  content: "\ea27";
}

.pxl_icon.pxl_download:before {
  content: "\ea28";
}

.pxl_icon.pxl_upload:before {
  content: "\ea29";
}

.pxl_icon.pxl_plus:before {
  content: "\ea2a";
}

.pxl_icon.pxl_add:before {
  content: "\ea2b";
}

.pxl_icon.pxl_person__delete:before {
  content: "\ea2c";
}

.pxl_icon.pxl_person__add:before {
  content: "\ea2d";
}

.pxl_icon.pxl_check:before {
  content: "\ea2e";
}

.pxl_icon.pxl_logout:before {
  content: "\ea2f";
}

.pxl_icon.pxl_search:before {
  content: "\ea31";
}

.pxl_icon.pxl_email:before {
  content: "\ea32";
}

.pxl_icon.pxl_heart:before {
  content: "\ea33";
}

.pxl_icon.pxl_home:before {
  content: "\ea34";
}

.pxl_icon.pxl_movie:before {
  content: "\ea35";
}

.pxl_icon.pxl_image:before {
  content: "\ea36";
}

.pxl_icon.pxl_lock:before {
  content: "\ea37";
}

.pxl_icon.pxl_lock__open:before {
  content: "\ea38";
}

.pxl_icon.pxl_info:before {
  content: "\ea39";
}

.pxl_icon.pxl_help:before {
  content: "\ea3a";
}

.pxl_icon.pxl_phone:before {
  content: "\ea3b";
}

.pxl_icon.pxl_attach:before {
  content: "\ea3c";
}

.pxl_icon.pxl_send:before {
  content: "\ea3d";
}

.pxl_icon.pxl_username:before {
  content: "\ea3e";
}

.pxl_icon.pxl_stats:before {
  content: "\ea3f";
}

.pxl_icon.pxl_arrow__up:before {
  content: "\ea44";
}

.pxl_icon.pxl_arrow__right:before {
  content: "\ea45";
}

.pxl_icon.pxl_arrow__left:before {
  content: "\ea46";
}

.pxl_icon.pxl_key:before {
  content: "\ea47";
}

.pxl_icon.pxl_backspace:before {
  content: "\ea48";
}

.pxl_icon.pxl_up:before {
  content: "\ea49";
}

.pxl_icon.pxl_right:before {
  content: "\ea4a";
}

.pxl_icon.pxl_left:before {
  content: "\ea4b";
}

.pxl_icon.pxl_delete:before {
  content: "\ea4d";
}

.pxl_icon.pxl_quote:before {
  content: "\ea4e";
}

.pxl_icon.pxl_edit:before {
  content: "\ea4f";
}

.pxl_icon.pxl_reply:before {
  content: "\ea50";
}

.pxl_icon.pxl_device:before {
  content: "\ea52";
}

.pxl_icon.pxl_more:before {
  content: "\ea53";
}

.pxl_icon.pxl_chat:before {
  content: "\ea54";
}

.pxl_icon.pxl_reorder:before {
  content: "\ea55";
}

.pxl_icon.pxl_paragraph:before {
  content: "\ea56";
}

.pxl_icon.pxl_menu:before {
  content: "\ea57";
}

.pxl_icon.pxl_power:before {
  content: "\ea58";
}

.pxl_icon.pxl_pin:before {
  content: "\ea59";
}

.pxl_icon.pxl_point:before {
  content: "\ea5a";
}

.pxl_icon.pxl_cart:before {
  content: "\ea5b";
}

.pxl_icon.pxl_people:before {
  content: "\ea5c";
}

.pxl_icon.pxl_folder__add:before {
  content: "\ea5d";
}

.pxl_icon.pxl_eye:before {
  content: "\ea5f";
}

.pxl_icon.pxl_palette:before {
  content: "\ea60";
}

.pxl_icon.pxl_tag:before {
  content: "\ea61";
}

.pxl_icon.pxl_undo:before {
  content: "\ea76";
}

.pxl_icon.pxl_more__vert:before {
  content: "\ea77";
}

.pxl_icon.pxl_down:before {
  content: "\ea78";
}

.pxl_icon.pxl_widget:before {
  content: "\ea79";
}

.pxl_icon.pxl_fullscreen:before {
  content: "\ea7a";
}

.pxl_icon.pxl_wallet:before {
  content: "\ea7b";
}

.pxl_icon.pxl_todo:before {
  content: "\ea7c";
}

.pxl_icon.pxl_zoom:before {
  content: "\ea7d";
}

.pxl_icon.pxl_filter:before {
  content: "\ea7e";
}

.pxl_icon.pxl_remove:before {
  content: "\ea7f";
}

.pxl_icon.pxl_grid:before {
  content: "\ea80";
}

.pxl_icon.pxl_list:before {
  content: "\ea81";
}
