/*________________________
	font icons
_________________________*/

.soc_icon.soc_discord:before {
  content: "\ea02";
}

.soc_icon.soc_vk:before {
  content: "\ea03";
}

.soc_icon.soc_medium:before {
  content: "\ea04";
}

.soc_icon.soc_youtube:before {
  content: "\ea05";
}

.soc_icon.soc_twitter:before {
  content: "\ea06";
}

.soc_icon.soc_trello:before {
  content: "\ea07";
}

.soc_icon.soc_soundcloud:before {
  content: "\ea08";
}

.soc_icon.soc_slack:before {
  content: "\ea09";
}

.soc_icon.soc_skype:before {
  content: "\ea0a";
}

.soc_icon.soc_pinterest:before {
  content: "\ea0b";
}

.soc_icon.soc_paypal:before {
  content: "\ea0c";
}

.soc_icon.soc_instagram:before {
  content: "\ea0d";
}

.soc_icon.soc_google:before {
  content: "\ea0e";
}

.soc_icon.soc_github:before {
  content: "\ea0f";
}

.soc_icon.soc_dropbox:before {
  content: "\ea10";
}

.soc_icon.soc_dribbble:before {
  content: "\ea11";
}

.soc_icon.soc_creative_market:before {
  content: "\ea12";
}

.soc_icon.soc_behance:before {
  content: "\ea13";
}

.soc_icon.soc_facebook:before {
  content: "\ea14";
}

.soc_icon.soc_link:before {
  content: "\ea15";
}
