a.home__link(href="#")
  svg(width='24', height='24', xmlns='http://www.w3.org/2000/svg')
    path(d='M21.844 6.375c-4.447 0-8.083 3.086-9.836 4.899-1.736-1.817-5.343-4.899-9.852-4.899H.75V12c0 6.203 5.047 11.25 11.25 11.25S23.25 18.203 23.25 12V6.375h-1.406z')
    path(d='M12.016 7.456c1.414-1.15 3.226-2.322 5.33-3.077-1.8-2.09-4.365-3.32-4.761-3.5A1.402 1.402 0 0 0 11.44.866c-.161.07-2.904 1.29-4.794 3.494 2.131.754 3.954 1.936 5.37 3.095z')
  | Главная
