.portfolio__content--tablet
  .portfolio__news
    .news__video-wrapper
      img.news__video-prev(src="./src/img/video-prev.jpg" alt="Превью видео")
      <svg width="81" height="82" xmlns="http://www.w3.org/2000/svg"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.996C0 18.904 18.132.623 40.224.623c22.09 0 40.223 18.281 40.223 40.373 0 22.09-18.132 40.372-40.224 40.372C18.134 81.368 0 63.087 0 40.996z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M35.195 29.893v22.205l16.09-11.103-16.09-11.102z" fill="#222"/></g></svg>
    h2.news__title Концерт m83 в Москве
    p.news__text
      | Видеотчёт с концерта M83, прошедшего 19 ноября 2016 года в Москве в музее современного
      | искусства "Гараж". Отличный концерт, превосходная атмосфера, Бюджет "Эконом".
    .news__arrow-wrapper
      button.news__arrow-prev(type="button")
        include arrow.pug
      button.news__arrow-next(type="button")
        include arrow.pug
