nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link(href="#") главная
    li.nav__item
      a.nav__link(href="#") о нас
    li.nav__item
      a.nav__link(href="#") работы
    li.nav__item
      a.nav__link(href="#") стоимость
    li.nav__item
      a.nav__link(href="#") команда
    li.nav__item
      a.nav__link(href="#") контакты
