ul.social__list
  li.social__item
    a.social__link(href="youtube.com") YouTube
  li.social__item
    a.social__link(href="vk.com") VK
  li.social__item
    a.social__link(href="facebook.com") Facebook
  li.social__item
    a.social__link(href="instagram.com") Instagram
