ul.social__list
  li.social__item
    a.social__link.social__link--youtube(href="//youtube.com") YouTube
  li.social__item
    a.social__link.social__link--vk(href="vk.com") VK
  li.social__item
    a.social__link.social__link--fb(href="facebook.com") Facebook
  li.social__item
    a.social__link.social__link--instagram(href="instagram.com") Instagram
