<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title FICUS
  body
    include pug/mixins.pug

    section(class='home')
      h1.home__title ficus
      include pug/social.pug

    +section(class='about')
      .about-us
        +counter('о нас', '01')
        h2.about-us__name
          | ficus
          br
          | production
        p.about-us__quote
          | Мы занимаемся созданеим видео любой сложности:
          | от репортажей до рекламных роликов.
        p.about-us__text
          | Снимаем любые виды роликов;
          | если Вам нужно рекламное видео для Вашей компании, музыкальный клип,
          | ролик для YouTube, отчет с мероприятия или любое другое видео,
          | обращайтесь к нам, мы вместе всё обсудим и реализуем Ваши задумки.
      .steps
        .steps__container
          h2.steps__title этапы работы
          a.steps__link.steps__link--active(href="video.html") видео
          a.steps__link(href="youtube.com") youtube
        img.steps__img(src="./src/img/about-prod-bg.png", alt="рисунок ноутбука")
        p.steps__production продакшен
        p.steps__text
          | К своему делу мы подходим основательно:
          | прорабатываем каждый проект от идеи и до конечного результата.
          | Работаем с любыми видами фото- и видеотехники;
          | имеем при себе помощников для съёмок, где они просто необходимы.
        .steps__slide-selecter
          button.steps__arrow-prev(type="button")
            include pug/arrow.pug
          span.steps__num-slide 01
          button.steps__arrow-next(type="button")
            include pug/arrow.pug

    +section(class='portfolio')
      .portfolio__content
        +counter('портфолио', '02')
        .portfolio__news
          .news__video-wrapper
            img.news__video-prev(src="./src/img/video-prev.jpg" alt="Превью видео")
            <svg width="81" height="82" xmlns="http://www.w3.org/2000/svg"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 40.996C0 18.904 18.132.623 40.224.623c22.09 0 40.223 18.281 40.223 40.373 0 22.09-18.132 40.372-40.224 40.372C18.134 81.368 0 63.087 0 40.996z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M35.195 29.893v22.205l16.09-11.103-16.09-11.102z" fill="#222"/></g></svg>
          h2.news__title Концерт m83 в Москве
          p.news__text
            | Видеотчёт с концерта M83, прошедшего 19 ноября 2016 года в Москве в музее современного
            | искусства "Гараж". Отличный концерт, превосходная атмосфера, Бюджет "Эконом".
          .news__arrow-wrapper
            button.news__arrow-prev(type="button")
              include pug/arrow.pug
            button.news__arrow-next(type="button")
              include pug/arrow.pug

      .portfolio__carousel
        p.portfolio__link-list
          a.portfolio__link.portfolio__link--active(href="video.html") видео
          a.portfolio__link(href="youtube.com") youtube
        .carousel__gallery
          img.gallery__item(src="./src/img/gall-1.jpg", alt="Котейка на одеяле")
          img.gallery__item(src="./src/img/gall-2.jpg", alt="Грязевая дорога в поле")
          img.gallery__item(src="./src/img/gall-3.jpg", alt="Музыкальное представление")
          img.gallery__item(src="./src/img/gall-4.jpg", alt="Черно-белый маяк")
          img.gallery__item(src="./src/img/gall-5.jpg", alt="Мопс, завернутый в плед")
          img.gallery__item(src="./src/img/gall-6.jpg", alt="Поток людей")
        .carousel__controller
          input.controller__radio.visually-hidden(type="radio", name="carousel__slide", id="carousel__slide-1" , value="1" checked)
          label.controller__label(for="carousel__slide-1")
          input.controller__radio.visually-hidden(type="radio", name="carousel__slide", id="carousel__slide-2" , value="2")
          label.controller__label(for="carousel__slide-2")
          input.controller__radio.visually-hidden(type="radio", name="carousel__slide", id="carousel__slide-3" , value="3")
          label.controller__label(for="carousel__slide-3")
          input.controller__radio.visually-hidden(type="radio", name="carousel__slide", id="carousel__slide-4" , value="4")
          label.controller__label(for="carousel__slide-4")


    +section(class='price')
      .price__wrapper
        +counter('прайс', '03')
        p.price__text
          | Мы занимаемся созданием видео любой сложности: от репортажей до рекламных роликов.
          | Прорабатываем каждый проект от идеи и до конечного результата. Работаем с любыми видами фото- и видеотехники.
      +priceItem('эконом', 'от 32 000 ₽')
      +priceItem('премиум', 'от 64 000 ₽')
      ul.partners__list
        li.partners__item
          a.partners__link(href="#")
            img(src="./src/img/partnerMagnet.png", alt="Magnet")
        li.partners__item
          a.partners__link(href="#")
            img(src="./src/img/partnerHerbert.png", alt="Herbert Padilla")
        li.partners__item
          a.partners__link(href="#")
            img(src="./src/img/partnerRick.png", alt="Rick Meyers")
        li.partners__item
          a.partners__link(href="#")
            img(src="./src/img/partnerFirstudio.png", alt="Firstudio")
        li.partners__item
          a.partners__link(href="#")
            img(src="./src/img/partnerStallion.png", alt="Stallion")
        li.partners__item
          a.partners__link(href="#")
            img(src="./src/img/partnerMagnet.png", alt="Magnet")

    +section(class='team')
      .team__wrapper
        +counter('команда', '04')
        p.team__text
          | Мы занимаемся созданием видео любой сложности: от репортажей до рекламных роликов.
          | Прорабатываем каждый проект от идеи и до конечного результата. Работаем с любыми видами фото- и видеотехники.
      .person__wrapper
        ul.person__list

          +person(
          'Ксения Руденко',
          'продюссер',
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor',
          './src/img/art-Rudenko.png',
          'Арт Ксении Руденко'
          )

          +person(
          'Филипп Валиулин',
          'режиссер',
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor',
          './src/img/art-Valiulin.png',
          'Арт Филипп Валиулин'
          )

        .team__quote
          p.quote__text
            | Lorem ipsum dolor sit amet, consectetur elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua.
          .quote__footer
            .quote__wrapper
              p.quote__author Arthur Hansen
              p.quote__position CEO / Letters Inc
            .quote__controller
              input.controller__radio.visually-hidden(type="radio",name="team-quote", id="quote-1" , value="1" checked)
              label.controller__label(for="quote-1")
              input.controller__radio.visually-hidden(type="radio", name="team-quote", id="quote-2" , value="2")
              label.controller__label(for="quote-2")
              input.controller__radio.visually-hidden(type="radio", name="team-quote", id="quote-3" , value="3")
              label.controller__label(for="quote-3")
              input.controller__radio.visually-hidden(type="radio", name="team-quote", id="quote-4" , value="4")
              label.controller__label(for="quote-4")

    +section(class='contacts')
      .contacts__wrapper
        +counter('контакты', '05')
        p.contacts__text
          | Мы занимаемся созданием видео любой сложности: от репортажей до рекламных роликов.
          | Прорабатываем каждый проект от идеи и до конечного результата. Работаем с любыми видами фото- и видеотехники.
      .contacts__content
        include pug/form.pug
        .feedback
          .feedback__wrapper
            p.feedback__title Мессенджер
            a.feedback__link.feedback__link--whatsup(href="#") WhatsUp
            a.feedback__link.feedback__link--telegram(href="#") Telegram
          .feedback__wrapper
            p.feedback__title Телефон
            a.feedback__link.feedback__link--phone(href="tel:014796427461") (01) 479-642-7461
            a.feedback__link.feedback__link--phone(href="tel:014796427462") (01) 479-642-7462
          .feedback__wrapper
            p.feedback__title Email
            a.feedback__link.feedback__link--email(href="mailto:anderson@hotmail.com") anderson@hotmail.com
            a.feedback__link.feedback__link--email(href="mailto:hello@hotmail.com") hello@hotmail.com

    footer.main-footer
      h2.main-footer__title Ficus production
      section.footer-menu
        p.footer__copyright © 2018 Ficus All Rights Reserved
        include pug/nav.pug
