@import url('https://fonts.googleapis.com/css?family=Raleway:700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');

$RalewayFont: 'Raleway', Arial, sans-serif;
$OpenSansFont: 'Open Sans', Arial, sans-serif;

$colorBlue: #019CCB;
$colorBlueBlack: #003B4D;
$colorOrange: #F4AB4D;
$colorGreen: #5CCB98;
$colorIndigo: #885AE1;
$colorGrey: #8C9BA5;
$colorLightGrey: #DFE3E6;

// GLOBAL STYLE
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $RalewayFont;
  text-align: justify;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

// IMPORT AREA

@import './scss/social';
@import './scss/fontStyle';


// GLOBAL MIXIN AREA

@mixin colorScheme($color) {
  border: 30px solid $color;
  .home__link {
    font-size: 0;
    svg {
      fill: $color;
    }
  }
  .to-order__link {
    border: 1px solid $color;
    color: $color;
  }
  .counter__title-slide,
  .counter__num-viewport,
  .steps__num-slide,
  .steps__production {
    color: $color;
  }
  .steps__link--active,
  .portfolio__link--active {
    background-color: $color;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.about,
.portfolio,
.price,
.team,
.contacts,
.main-footer {
  height: 100vh;
  position: relative;
  padding: 44px 56px;
  padding-bottom: 75px;
}

.about {
  @include colorScheme($colorBlue);
}

.portfolio {
  @include colorScheme($colorOrange);
}

.price {
  @include colorScheme($colorGreen);
}

.team {
  @include colorScheme($colorBlue);
}

.contacts {
  @include colorScheme(#ffffff);
  .home__link {
    svg {
      path {
        stroke: $colorOrange;
      }
    }
  }
}


// STYLE

.home {
  width: 100vw;
  height: 100vh;
  background-color: $colorBlueBlack;
  border: 60px solid #ffffff;
}

.home-order__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.to-order__link {
  display: inline-block;
  max-width: 164px;
  padding: 21px 35px;

  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 102px;
    padding-top: 22px;
    padding-left: 143px;
    .about-us {
      max-width: 590px;
    }
    .steps {
      max-width: 725px;
      padding: 40px 74px;
      background-color: #F0F3F6;
      &__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 40px;
      }
      &__title {
        display: inline-block;
        margin-right: auto;
      }
      &__link:nth-last-child(2) {
        margin-right: 20px;
      }
      &__img {
        margin-bottom: 37px;
      }
      &__production {
        margin-bottom: 22px;
      }
      &__slide-selecter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 180px;
        margin-left: auto;
      }
      &__text {
        margin-bottom: 30px;
      }
      &__arrow-prev,
      &__arrow-next {
        width: 40px;
        height: 40px;

        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: 1px solid #004B9F;
        border-radius: 50%;
      }
      &__arrow-prev {
        background-image: url("./img/sm-l-arrow.svg");
      }
      &__arrow-next {
        background-image: url("./img/sm-r-arrow.svg");
      }
    }
  }
}

.portfolio {
  .counter__wrapper {
    margin-bottom: 35px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-left: 143px;
    padding-right: 102px;
  }

  &__news {
    max-width: 720px;
  }
  .news {
    &__video-wrapper {
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      &__video-prev {
        display: block;
        height: 433px;
      }
    }
    &__text {
      margin-bottom: 12px;
    }
    &__arrow-wrapper {
      text-align: right;
    }
    &__arrow-prev,
    &__arrow-next {
      width: 40px;
      height: 40px;

      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      border: 1px solid #004B9F;
      border-radius: 50%;
    }
    &__arrow-prev {
      background-image: url("./img/sm-l-arrow.svg");
      margin-right: 30px;
    }
    &__arrow-next {
      background-image: url("./img/sm-r-arrow.svg");
    }
  }

  &__carousel {
    max-width: 575px;
    .portfolio__link-list {
      margin-bottom: 21px;
      .portfolio__link:first-of-type {
        margin-right: 25px;
      }
    }
  }
  .carousel {
    &__gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      margin-bottom: 18px;
      .gallery__item {
        margin-bottom: 20px;
      }
    }
    &__controller {
      display: flex;
      max-width: 90px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      .controller__radio {
        & + .controller__label {
          display: inline-block;
          width: 12px;
          height: 12px;
          background-color: rgba($color: #000000, $alpha: 0.2);
          border-radius: 50%;
        }
        & + .controller__label:hover {
          background-color: rgba($color: #000000, $alpha: 0.5);
        }
        &:checked + .controller__label {
          background-color: #524AB0;
        }
      }
    }
  }
}
