@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Barrio');


@import './scss/global';
@import './scss/section';
@import './scss/social';
@import './scss/fontStyle';
@import './scss/form';
@import './scss/menu';


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

// STYLE

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;
  background-color: $colorBlueBlack;
  border: 60px solid #ffffff;

  &__title {
    padding: 5vmin;
    margin: 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(100% / 12 + 20px);
    .about-us {
      display: flex;
      width: 100%;
      flex: 1;
      flex-direction: column;
      max-width: 590px;
    }
    .steps {
      max-width: 725px;
      padding: 3vmin 5vmin;
      display: flex;
      width: 100%;
      flex: 1;
      flex-direction: column;
      background-color: #F0F3F6;
      &__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 40px;
      }
      &__title {
        display: inline-block;
        margin-right: auto;
      }
      &__link:nth-last-child(2) {
        margin-right: 20px;
      }
      &__img {
        margin-bottom: 37px;
        width: 100%;
        object-fit: cover;
      }
      &__production {
        margin-bottom: 22px;
      }
      &__slide-selecter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 180px;
        margin-left: auto;
      }
      &__text {
        margin-bottom: 30px;
      }
      &__arrow-prev,
      &__arrow-next {
        width: 40px;
        height: 40px;

        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: 1px solid #004B9F;
        border-radius: 50%;
      }
      &__arrow-prev {
        background-image: url("./img/sm-l-arrow.svg");
      }
      &__arrow-next {
        background-image: url("./img/sm-r-arrow.svg");
      }
    }
  }
}

.portfolio {
  .counter__wrapper {
    margin-bottom: 35px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: $paddingContainer;
  }

  &__news {
    max-width: 720px;
  }
  .news {
    &__video-wrapper {
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      &__video-prev {
        display: block;
        height: 433px;
      }
    }
    &__text {
      margin-bottom: 12px;
    }
    &__arrow-wrapper {
      text-align: right;
    }
    &__arrow-prev,
    &__arrow-next {
      width: 40px;
      height: 40px;

      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      border: 1px solid #004B9F;
      border-radius: 50%;
    }
    &__arrow-prev {
      background-image: url("./img/sm-l-arrow.svg");
      margin-right: 30px;
    }
    &__arrow-next {
      background-image: url("./img/sm-r-arrow.svg");
    }
  }

  &__carousel {
    max-width: 575px;
    .portfolio__link-list {
      margin-bottom: 21px;
      .portfolio__link:first-of-type {
        margin-right: 25px;
      }
    }
  }
  .carousel {
    &__gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      margin-bottom: 18px;
      .gallery__item {
        margin-bottom: 20px;
      }
    }
    &__controller {
      display: flex;
      max-width: 90px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      .controller__radio {
        & + .controller__label {
          display: inline-block;
          width: 12px;
          height: 12px;
          background-color: rgba($color: #000000, $alpha: 0.2);
          border-radius: 50%;
        }
        & + .controller__label:hover {
          background-color: rgba($color: #000000, $alpha: 0.5);
        }
        &:checked + .controller__label {
          background-color: $colorOrange;
        }
      }
    }
  }
}


.price {

  .menu-order__container {
    margin-bottom: 5vmin;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: $paddingContainer;

  }
  &__wrapper {
    display: flex;
    margin-bottom: 7vmin;
  }

  .counter__wrapper {
    display: flex;
    min-width: 25%;
    max-width: 25%;
  }

  &__text {
    display: flex;
    max-width: 75%;
  }

  &__item {
    display: flex;
    padding: 3vmin;
    margin-bottom: 7vmin;
    justify-content: space-between;
    align-items: center;

    background-color: #F8F9FB;

    .features__list {
      display: flex;
      justify-content: space-between;
      .features__item {
        &:not(:last-of-type) {
          margin-right: 5vmin;
        }
        .features__capture {
          margin-bottom: 3vmin;
        }
      }
    }
    .select__wrapper {
      display: flex;
      align-items: center;
      .price__value {
        margin-right: 2vmin;
      }
      .price__select {
        width: 60px;
        height: 60px;

        background-color: #F0F3F6;
        background-image: url("./img/sm-priceSelect.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
      }
    }
  }

  .partners__list {
    display: flex;
    justify-content: space-between;

    .partners__link {
      opacity: 0.5;
      &:hover {
      opacity: 1;
      }
    }
  }
}


.team {

  .menu-order__container {
    margin-bottom: 5vmin;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: $paddingContainer;

  }
  &__wrapper {
    display: flex;
    margin-bottom: 10vmin;
  }

  .counter__wrapper {
    display: flex;
    min-width: 25%;
    max-width: 25%;
  }

  &__text {
    display: flex;
    max-width: 75%;
  }

  .person {

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__list {
      display: flex;
      max-width: 50%;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      max-width: 45%;
      flex-direction: column;
      img {
        max-width: 214px;
        height: auto;
        margin-bottom: 4vmin;
      }
    }

    &__position {
      margin-bottom: 4vmin;
    }
  }

  &__quote {
    display: flex;
    max-width: 40%;
    flex-direction: column;

    &::before {
      content: "";
      display: block;
      max-width: 64px;
      height: 46px;
      margin-bottom: 5vmin;

      background-image: url("./img/quote.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .quote {
      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      &__text {
        margin-bottom: 5vmin;
      }

      &__controller {
        display: flex;
        min-width: 90px;
        max-width: 90px;
        flex-wrap: wrap;
        justify-content: space-between;
        .controller__radio {
          & + .controller__label {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            border-radius: 50%;
          }
          & + .controller__label:hover {
            background-color: rgba($color: #000000, $alpha: 0.5);
          }
          &:checked + .controller__label {
            background-color: $colorBlue;
          }
        }
      }
    }
  }
}

.contacts {
  background-color: $colorOrange;

  .menu-order__container {
    margin-bottom: 5vmin;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: $paddingContainer;

  }
  &__wrapper {
    display: flex;
    margin-bottom: 8vmax;
  }

  .counter__wrapper {
    display: flex;
    min-width: 25%;
    max-width: 25%;
  }

  &__text {
    display: flex;
    max-width: 75%;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    .feedback {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #ffffff;
      text-align: center;

      &__wrapper:not(:last-of-type) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -50%;

          display: block;
          width: 100%;
          height: 2px;

          background-color: rgba($color: #ffffff, $alpha: 0.2);
        }
      }

      &__title {
        margin-bottom: 1vmin;
      }

      &__link {
        color: inherit;

        &--whatsup,
        &--telegram {
          display: inline-block;
          width: 33px;
          height: 30px;
          font-size: 0;

          background-repeat: no-repeat;
          background-position: center;
        }
        &--whatsup {
          margin-right: 1vmin;
          background-image: url("./img/whatsup.svg");
        }
        &--telegram {
          background-image: url("./img/telegram.svg");
        }
        &--phone,
        &--email {
          display: block;
        }
      }
    }
  }
}

.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-image: url("./img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $colorBlueBlack;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .footer-menu {
    display: flex;
    padding: 0 4vmin;
    justify-content: space-between;
  }

  .nav {
    min-width: 30%;
    max-width: 50%;
    display: flex;
    &__list {
      display: flex;
      min-width: 100%;
      justify-content: space-between;
    }
  }

}
