.home__title {
  // font-family: inherit;
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
  color: #ffffff;
  &::after {
    content: ".";
    color: $colorGreen;
  }
}

.order__link {
  // font-family: inherit;
  font-weight: $Bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.counter__wrapper {
  margin-bottom: 32px;
}

.counter__title-slide,
.counter__num-viewport,
.counter__max-num-viewport {
  display: inline-block;
  // font-family: inherit;
  font-weight: $Bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.counter__title-slide {
  margin-right: 53px;
  @include screen-style(tablet) {
    margin-right: 2vmin;
  };
}

.counter__num-viewport {
  margin-right: 20px;
}

.counter__max-num-viewport {
  position: relative;
  color: $colorLightGrey;
  &::before {
    content: "|";
    position: absolute;
    left: -10px;
  }
}

.about-us__name {
  max-width: 80%;
  margin-bottom: 3vmin;
  // font-family: inherit;
  font-weight: 900;
  font-size: 56px;
  line-height: 70px;
  text-transform: uppercase;
  @include screen-style(tablet) {
    max-width: 100%;
  };
}

.about-us__quote {
  position: relative;
  padding-left: 65px;
  margin-bottom: 3vmin;

  // font-family: inherit;
  font-weight: $SemiBold;
  font-size: 20px;
  line-height: 29px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 32px;
    height: 23px;
    background-image: url("./img/quote.svg");
    background-repeat: no-repeat;
  }
}

.about-us__text {
  font-family: $OpenSansFont;
  font-weight: $Regular;
  font-size: 18px;
  line-height: 29px;
}

.steps__title {
  font-weight: $Bold;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
}

.steps__link,
.portfolio__link {
  display: inline-block;
  color: $colorGrey;
  font-weight: $Bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  &--active {
    color: #ffffff;
    padding: 7px 15px;
  }
}

.steps__production {
  font-weight: $Bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.steps__text {
  font-family: $OpenSansFont;
  font-weight: $Regular;
  font-size: 18px;
  line-height: 29px;
}

.steps__num-slide {
  font-family: $OpenSansFont;
  font-weight: $Bold;
  font-size: 30px;
  line-height: 30px;

}

.news {
  &__title {
    font-weight: $ExtraBold;
    font-size: 32px;
    line-height: 70px;
    text-transform: uppercase;
  }
  &__text {
    font-family: $OpenSansFont;
    font-weight: $Regular;
    font-size: 18px;
    line-height: 29px;
  }
}


.price {

  &__text {
    font-family: $OpenSansFont;
    font-weight: $Regular;
    font-size: $fontSizeHD;
    line-height: 29px;
    @include screen-style(tablet) {
      font-size: $fontSizeTab;
    };
  }

  &__title {
    font-weight: $ExtraBold;
    font-size: 32px;
    text-transform: uppercase;
    @include screen-style(tablet) {
      margin-bottom: 4vmin;
      color: $colorGreen;
    };
  }

  .features__capture,
  .features__value {
    font-family: $OpenSansFont;
    font-weight: $SemiBold;
    font-size: 18px;
    line-height: 24px;
  }

  &__value {
    color: $colorGreen;
    font-family: $OpenSansFont;
    font-weight: $SemiBold;
    font-size: 50px;
  }
  &__item:hover {
    .price__title,
    .price__value {
      color: #ffffff;
    }
  }

}


.team {

  &__text {
    font-family: $OpenSansFont;
    font-weight: $Regular;
    font-size: $fontSizeHD;
    line-height: 29px;
    @include screen-style(tablet) {
      font-size: $fontSizeTab;
    };
  }

  .person {
    &__name {
      font-family: $OpenSansFont;
      font-weight: $Bold;
      font-size: 26px;
      line-height: 50px;
      text-align: center;
    }

    &__position {
      font-family: $OpenSansFont;
      font-weight: $Medium;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
    }

    &__about {
      font-family: $OpenSansFont;
      font-size: 18px;
      line-height: 29px;
    }
  }

  .quote {
    &__text {
      font-family: $OpenSansFont;
      font-weight: $Regular;
      font-size: 20px;
      line-height: 125%;
    }

    &__author {
      font-weight: $Medium;
      font-size: 21px;
      line-height: 32px;
    }

    &__position {
      color: #878787;
      font-family: $OpenSansFont;
      font-weight: $Regular;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.contacts {

  &__text {
    color: #ffffff;
    font-family: $OpenSansFont;
    font-weight: $Regular;
    font-size: $fontSizeHD;
    line-height: 29px;
    @include screen-style(tablet) {
      font-size: $fontSizeTab;
    };
  }

  .order {
    &__label {
      font-family: $OpenSansFont;
      font-weight: $Bold;
      font-size: 18px;
    }

    &__input {
      color: #ffffff;
      font-family: $OpenSansFont;
      font-weight: $Regular;
      font-size: 18px;
      &::placeholder {
        color: rgba($color: #F0F3F6, $alpha: 0.6);
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        text-overflow: ellipsis;
      }
    }
  }

  .feedback {
    &__title {
      font-weight: $Bold;
      font-size: 21px;
      line-height: 32px;
    }

    &__link {
      font-weight: $Medium;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.main-footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 23px;

  &__title {
    font-family: $BarrioFont;
    font-size: 120px;
    font-weight: $Regular;
  }

  .footer__copyright {
    font-family: $OpenSansFont;
  }
}

.nav {
  &__link {
    color: #ffffff;
    font-weight: $Bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}
