.order {
    display: flex;
    flex-direction: column;
    width: 60%;
    @include screen-style(tablet) {
      width: 100%;
      margin-bottom: 10vmin;
    };
    @include screen-style(tablet720) {
      margin-bottom: 7vmin;
    };
    @include screen-style(phone) {
      width: 100%;
      flex-direction: column;
    };

    color: #ffffff;

  &__container {
    display: flex;
    margin-bottom: 4vmin;
    justify-content: space-between;
    @include screen-style(tablet) {
      flex-direction: column;
    };
    @include screen-style(phone) {
      flex-direction: column;
    };
  }

  &__wrapper {
    display: flex;
    width: 45%;
    flex-direction: column;
    @include screen-style(tablet) {
      width: 100%;
      margin-bottom: 8vmin;
    };
    @include screen-style(phone) {
      width: 100%;
      &:first-of-type {
        margin-bottom: 4vmin;
      }
    };
  }

  &__input {
    background-color: transparent;
    border: none;
    // border-bottom: 3px solid #ffffff;
    line-height: 4vmin;
    height: 8vmin;
  }

  &__message {
    width: 100%;
    height: 8vmax;

    resize: none;
  }

  &__label--message {
    display: block;
    margin-bottom: 5vmin;
  }

  &__btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin-left: auto;

    color: $colorOrange;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.5;

    background-color: #ffffff;
    border: none;
    border-radius: 50px;

    &:hover {
      opacity: 1;
    }
  }

}
