.menu-order__container {
  display: flex;
  padding: 3vmin;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .nav {
    display: none;
    width: 60vmin;
  }

  &:hover {
    .nav {
      display: flex;
    }
  }
}

.order__link {
  display: inline-block;
  padding: 1rem 2rem;

  @include btn-style(none, none, 50px);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  @include screen-style(tablet) {
    display: none;
  };
  &--tablet {
    position: relative;
    display: none !important;
    @include btn-style-FIX(50px, 50px, none, none, none, 50%);
    @include screen-style(tablet) {
      display: inline-block !important;
    };
    &:before {
      @include to-center();
    }
  }
}
