.menu-order__container {
  position: relative;
  display: flex;
  padding: 3vmin;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    transition: all 0.3s;
    @include screen-style(phone) {
      display: none;
    };
  }

  .nav {
    display: none;
    width: 70vmin;
  }

  &:hover {
    &:after {
      height: 100%;
    }
    .nav {
      display: flex;
      @include screen-style(phone) {
        display: none;
      };
    }
  }
}

.order__link {
  display: inline-block;
  padding: 1rem 2rem;

  @include btn-style(none, none, 50px);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  @include screen-style(tablet) {
    display: none;
  };
  @include screen-style(phone) {
    display: none;
  };
  &--tablet {
    position: relative;
    display: none !important;
    @include btn-style-FIX(50px, 50px, none, none, none, 50%);
    @include screen-style(tablet) {
      display: inline-block !important;
    };
    @include screen-style(phone) {
      display: inline-block !important;
    };
    &:before {
      @include to-center();
    }
  }
}
