@mixin colorScheme($color) {
  border: 3vmin solid $color;

  .menu-order__container {
    &:hover {
      background-color: $color;

      .order__link {
        color: #ffffff;
        border: 2px solid #ffffff;
        &:hover {
          background-color: #ffffff;
          color: $color;
        }
      }
    }
  }

  .home__link {
    font-size: 0;
    svg {
      fill: $color;
      path {
        fill: #ffffff;
      }
    }
  }

  .order__link {
    border: 2px solid $color;
    color: $color;
  }

  .counter__title-slide,
  .counter__num-viewport,
  .steps__num-slide,
  .steps__production {
    color: $color;
  }

  .steps__link--active,
  .portfolio__link--active {
    background-color: $color;
  }

  .steps {
    &__arrow-prev,
    &__arrow-next {
      svg {
        circle {
          fill: $color;
          opacity: 0.5;
        }
        path {
          stroke: #ffffff;
        }
        &:hover {
          circle {
            opacity: 1;
          }
        }
      }
    }
  }

  .price {
    &__item {
      border: 5px solid $color;
      &:hover {
        background-color: $color;
      }
    }
    &__value {
      color: $color;
    }
  }
}
