@mixin colorScheme($color) {
  border: 3vmin solid $color;

  .menu-order__container {
    &:hover {
      background-color: $color;
      .home__link {
        svg {
          path {
            fill: #ffffff;
          }
        }
        &:hover {
          background-color: #ffffff;
          path {
            fill: $color;
          }
        }
      }
      .order__link {
        color: #ffffff;
        border: 2px solid #ffffff;
        &:hover {
          background-color: #ffffff;
          color: $color;
        }
      }
    }
  }

  .social__link {
    border: {
      width: 2px;
      style: solid;
      color: $color;
    }
    color: $color;
    &:hover {
      color: #ffffff;
      background-color: $color;
    }
  }

  .home__link {
    font-size: 0;
    svg {
      path {
        fill: $color;
      }
    }
  }

  .news__btn {
    background-color: $color;
  }

  .order__link {
    border: 2px solid $color;
    color: $color;
    &--tablet {
      background-color: $color;
      color: #ffffff;
      &:hover {
        background-color: #ffffff;
        color: $color;
      }
    }
  }

  .counter__title-slide,
  .counter__num-viewport,
  .steps__num-slide,
  .steps__production {
    color: $color;
  }

  .steps__link--active,
  .carousel__link--active {
    background-color: $color;
  }

  .steps {
    &__btn {
      background-color: $color;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
      svg {
        path {
          stroke: #ffffff;
          fill: none;
        }
      }
    }
  }

  .price {
    &__item {
      border: 5px solid $color;
      &:hover {
        background-color: $color;
        .price__select {
          border: 2px solid #ffffff;
        }
      }
    }
    &__value {
      color: $color;
    }
    &__select {
      color: #ffffff;
      background-color: $color;
      &:hover {
        background-color: #ffffff;
        color: $color;
      }
    }
  }
}


@mixin screen-style($media) {
  @if $media == phone {
    @media only screen and (max-width: $phone + 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $phone - 1) and (max-width: $hd1440 - 1) { @content; }
  }
  @else if $media == hd1440 {
    @media only screen and (min-width: $hd1440 - 1) and (max-width: $fullHD - 1) { @content; }
  }
  @else if $media == fullHD {
    @media only screen and (min-width: $FULLHD - 1) { @content; }
  }
}

//mixin for btn NOT FIX width height
@mixin btn-style($fill, $border, $radius) {
  background-color: $fill;
  border: $border;
  border-radius: $radius;
}

//mixin for btn FIX width height
@mixin btn-style-FIX($width, $height, $color, $fill, $border, $radius) {
  width: $width;
  height: $height;
  color: $color;
  background-color: $fill;
  border-radius: $radius;
  border: $border;
}

@mixin to-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
