.nav {
  display: flex;
  width: 55vmin;
  @include screen-style(tablet720) {
    width: 60vmin;
  };
  &__list {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
  }
  &__link {
    &:hover {
      color: $colorGreen;
    }
  }
}
