.about,
.portfolio,
.price,
.team,
.contacts,
.main-footer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.about {
  @include colorScheme($colorBlue);
}

.portfolio {
  @include colorScheme($colorOrange);
}

.price {
  @include colorScheme($colorGreen);
}

.team {
  @include colorScheme($colorBlue);
}

.contacts {
  @include colorScheme(#ffffff);
  .home__link {
    svg {
      path {
        fill: $colorOrange;
      }
    }
  }
}
