$font-fallback: system,
                -apple-system,
                '.SFNSText-Regular',
                'San Francisco',
                'Roboto',
                'Segoe UI',
                'Helvetica Neue',
                'Lucida Grande',
                sans-serif;

$RalewayFont: 'Raleway', $font-fallback;
$OpenSansFont: 'Open Sans', $font-fallback;
$BarrioFont: 'Barrio', $font-fallback;

$colorBlue: #019CCB;
$colorBlueBlack: #003B4D;
$colorOrange: #F4AB4D;
$colorGreen: #5CCB98;
$colorIndigo: #885AE1;
$colorGrey: #8C9BA5;
$colorLightGrey: #DFE3E6;

$Light: 200;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;

$fontSizeHD: 18px;
$fontSizeTab: 14px;

$paddingContainer: 0 calc(100% / 12 + 20px);
$paddingContainerTablet: 0 calc(100% / 8 + 20px);

$phone: 378px;
$tablet720: 720px;
$tablet: 1024px;
$hd1440: 1440px;
$fullHD: 1920px;
